*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    border-bottom: 1px solid rgb(177, 174, 174);
}
#headertop{
   
    background-color: rgb(243, 235, 235);
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    font-size: 0.9rem;
  
    
}
#headercategories {
    display: none;
}
#languageselect{
    display: none;
}
#searchandlocation{
    display: none;
}
#headerbottom{
padding: 1rem 0;

}
.container{
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem;
}
#headertop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#headerbottom .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logoandtext{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.5rem;
}
#logoimage{
    width: 3rem;
}

#headericons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#menubutton{
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    display: flex;
}
#headericons a{
    color: rgb(81, 79, 79);
}
.headerlink{
    position: relative;
}
/* headerlik is a parent class and count is its child class  */
.count{
    font-size: 0.75rem;
    background-color: rgb(62, 108, 62);
    color: white;
    width: 1rem;
    height:1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:0;
    right:0;
    translate: 40% -30%;

    /* first value in translate is x axis and second value is y axis */

 }
/* above we give display: flex reason given below: 
block elements & inline elements . block element will take full width but inline element take only text width
for eg div is a block element and span, a tag etc is a inline element. when we write two div it will take two line where as
 two span it will take the same line depending on the text width . we can't set height or width for inline elements. 
 after setting display: block, then inline element convert to block element then we can set height or width if required 
 another value is inline-block is taking only it's content width but can setheight and width*/


 @media (min-width: 576px)  {
   
}

@media (min-width: 768px)  {
    #headertop .container{
        justify-content: space-between;
    }
    #languageselect{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap:0.25rem;
    }
    #flag{
        width: 1.25rem;
        
    }
   
}


@media (min-width: 992px)  {
   #menubutton{
    display: none;
   }
   #headercategories{
    display: flex;
    padding: 0.5rem 0;
    
   }
   #alldepartmentbutton{
    background-color: rgb(14, 175, 14); 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;

   }
   .dropdown{
    background-color: transparent;
    border: none;
 

   }
  
   a{
    color: black;
    gap: 2px;
   }
}

@media (min-width: 1200px) {
    #searchandlocation{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:0.5rem;
    
    }
    #searchbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
        
          
         }
    #search{
   
        padding-right: 8rem;
        padding-left: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border:2px solid rgb(223, 218, 218);
        border-radius: 0.5rem;
    }
   #searchicon{
   margin-left: -2rem;
   color: rgb(168, 165, 165);

   }
  
   #locationbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   }
   ::placeholder{
    padding: 0.5rem;
   }
   #locationicon{
    padding-top:0.5rem;
    padding-left: 0.5rem;
   color: rgb(168, 165, 165);


   }
   #location{
 margin-left: -1.75rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border:2px solid rgb(223, 218, 218);
    border-radius: 0.5rem;
    background-color: transparent;
   }

}